* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 175%;
  text-align: center;
  margin: 6% 0;
}

.menu {
  padding: 0 3%;
}

.menu::after {
  clear: both;
  content: "";
  display: table;
}

.recipe {
  background-color: #999;
  border: 2px solid #000;
}

.title {
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  display: inline-block;
  float: right;
  font-size: 125%;
  font-weight: bold;
  padding: 2px 0;
  text-align: center;
  width: 33.3%;
}

.title.chicken {
  background-color: #d59898;
}

.title.beef {
  background-color: #c14543;
  color: #fff;
}

.title.sushi {
  background-color: #e5d198;
}

.description {
  clear: both;
  padding: 3% 3% 1.5% 3%;
  margin: 0
}

@media (min-width: 992px) {
  .recipe {
    float: left;
    margin-right: 3%;
    width: 31.3%;
  }

  .recipe:last-child {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .recipe {
    float: left;
    width: 48.5%;
  }

  .recipe:first-child {
    margin-right: 3%;
  }

  .recipe:last-child {
    margin-top: 3%;
    width: 100%;
  }

  .recipe:last-child .description {
    clear: both;
    padding: 1.5%;
  }
}

@media (max-width: 767px) {
  .recipe {
    margin-bottom: 3%;
  }
}
