<ul class="list-group">
  <li ng-repeat="item in foundItems" class="list-group-item">
    <div class="row">
      <div class="col-md-8">
        <strong>
          <span class="text-primary">{{ item.name }}</span>
          <span class="text-success">({{ item.short_name }})</span>
        </strong>

        <div>
          {{ item.description }}
        </div>
      </div>

      <div class="col-md-4 text-right">
        <button ng-click="onRemove({index: $index})" class="btn btn-danger btn-sm">Don't want this one!</button>
      </div>
    </div>
  </li>
</ul>
